.daoCard {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 32px;
  border: 1px solid var(--semantic-background-tetriary);
  padding: 7px;
  min-height: 64px;
  background-color: var(--semantic-background-tetriary);

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .name {
    flex: 1;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }
}
