.distributionRuleLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;

	.item {
		min-height: 44px;
		background: var(--loader-background);
		animation: l8 1s infinite;
		border-radius: 32px;

		&.wallet,
		&.gpTokens {
			flex: 1;
		}

		&.percent {
			max-width: 64px;
		}

		&.cancel,
		&.link {
			width: 44px;
			height: 44px;
		}
	}
}

@keyframes l8 {
	100% {
		background-position: top left;
	}
}
