.page {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 16px;
  overflow: auto;
  padding-bottom: 60px;

  .block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 30px;
    background-color: var(--semantic-card-background);
  }

  .createButton {
    display: flex;
    padding: 16px;
    position: absolute;
    right: 0;
    bottom: 100px;
    left: 0;
  }
}

.success {
  background-image: url("/src/assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
