.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  position: relative;
  flex: 1;

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--semantic-background-tetriary);
    border-radius: 32px;
    gap: 8px;
    align-items: center;
    padding: 15px;

    .logo {
      background-color: gray;
      border-radius: 32px;
      width: 32px;
      height: 32px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .currency {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      color: var(--semantic-text-primary);
    }

    .amount {
      flex: 1;
      font-size: 17px;
      font-weight: 600;
      text-align: right;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
  }
}
