.buttonBox {
	position: relative;
	flex: 1;
	min-height: 48px;
	font-size: 16px;
	font-weight: 500;
	border-radius: 32px;
	color: var(--semantic-text-primary);

	&.primary {
		background-color: var(--semantic-button-primary);
	}

	&.secondary {
		background-color: var(--semantic-button-secondary);
	}

	&.tetriary {
		color: var(--semantic-text-accent);
		background-color: var(--color-base-neutral-6);
	}

	&.accent {
		background-color: var(--semantic-button-notifications);
		color: var(--semantic-text-dark);
	}

	.button {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 12px 20px;
		background: none;
		cursor: pointer;
		user-select: none;
	}

	&.disabled {
		opacity: 0.5;
		cursor: initial;
	}
}
