.button {
  flex: 1;
  text-align: center;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
  color: var(--semantic-text-primary);
  cursor: pointer;
  user-select: none;

  &.primary {
    background-color: var(--semantic-button-primary);
  }

  &.secondary {
    background-color: var(--semantic-button-secondary);
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }
}
