.jettonLoader {
	display: flex;
	flex-direction: row;

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--loader-background);
		animation: l8 1s infinite;
		border-radius: 32px;
		width: 60px;
		height: 60px;
		color: var(--semantic-text-non-active);
	}

	.loader {
		flex: 1;
		display: flex;
		align-items: center;
		border-radius: 32px;
		border: 1px solid var(--semantic-background-tetriary);
		padding: 12px 20px;
		min-height: 60px;
		background: var(--loader-background);
		animation: l8 1s infinite;
	}
}

@keyframes l8 {
	100% {
		background-position: top left;
	}
}
