.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 20px;
	overflow: auto;

	.placeholder {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 160px;
		font-size: 18px;
		font-weight: 600;
		color: var(--semantic-text-placeholder);
	}
}
