.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	gap: 20px;
	padding-top: 20px;

	.children {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	&.background {
		background: url('../../svg/backgrounds/BackgroundSvg.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
