.layout {
  position: relative;
  display: flex;
  overflow: hidden;
  margin-bottom: 40px;

  .form {
    flex: 1;
    overflow: auto;
    padding-bottom: 60px;
  }

  .button {
    display: flex;
    position: fixed;
    bottom: 40px;
    left: 16px;
    right: 16px;
  }
}
