.proposal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: #000000;
  border-radius: 37px;
  width: 100%;

  .label {
    font-size: 12px;
    font-weight: 600;
    color: #8e8e8e;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .row {
    display: flex;
    align-items: first baseline;
    flex-direction: row;
    gap: 4px;
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
    border-radius: 30px;
    padding: 10px 24px;
    min-height: 64px;

    .name {
      font-size: 17px;
      font-weight: 500;
    }

    .description {
      font-size: 15px;
      font-weight: 500;
    }

    .badge {
    }
  }

  .blockConsensus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
    border-radius: 30px;
    padding: 20px 24px;

    .value {
      font-size: 15px;
      font-weight: 500;
    }
  }

  .blockVote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;

    .vote {
      display: flex;
      gap: 10px;
      padding: 5px 12px;
      border-radius: 50px;
      background-color: #272727;
      align-items: center;

      .icon > * {
        width: 20px;
        height: 20px;
      }

      &.agree {
        color: #e6ff00;
      }

      &.disagree {
        color: #0c5aff;
      }
    }
  }
}
