.search {
  display: flex;
  gap: 10px;
  padding: 13px 14px;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  background-color: #272727;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b5b5b5;

    & > * {
      width: 17px;
      height: 17px;
    }
  }

  .input {
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    padding: 0;
    background: none;
    outline: none;
  }
}
