.inputField {
  flex: 1;
  min-height: 52px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  overflow: hidden;

  &.primary {
    background-color: var(--semantic-background-tetriary);
  }

  &.secondary {
    background-color: var(--color-base-neutral-6);
  }

  .placeholder {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    position: absolute;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    pointer-events: none;

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.primary {
      color: var(--semantic-text-placeholder);
    }

    &.secondary {
      color: var(--semantic-text-non-active);
    }
  }

  .field {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 7px 20px;

    .fieldName {
      flex: 1;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: var(--semantic-text-secondary);
      user-select: none;
    }

    .input {
      flex: 1;
      width: 100%;
      padding: 0;
      background: none;
      outline: none;
      border: none;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: var(--semantic-text-primary);

      &:disabled {
        color: var(--semantic-text-secondary);
      }
    }
  }

  &.withName {
    display: flex;
    padding: 7px 20px;
    flex-direction: column;
    gap: 0;
  }
}
