.page {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.card {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);
		overflow: hidden;

		.details {
			display: flex;
			flex-direction: column;
			gap: 8px;
			overflow: hidden;

			.title {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				color: var(--semantic-text-primary);
			}

			.divider {
				height: 1px;
				background-color: var(--semantic-text-placeholder);
			}

			.subtitle {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 12px;
				font-weight: 600;
				color: var(--semantic-text-secondary);
			}

			.rawData {
				flex: 1;
				display: flex;
				word-break: break-all;
			}
		}

		.block {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			border-radius: 32px;
			border: 1px solid var(--semantic-background-tetriary);
			padding: 12px 20px;
			min-height: 64px;
			background-color: var(--semantic-background-tetriary);

			.answer {
				flex: 1;
				max-width: 150px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 4px;
				color: var(--semantic-text-primary);

				.placeholder {
					color: var(--semantic-text-secondary);
				}
			}

			.label {
				font-size: 12px;
				font-weight: 600;
				line-height: 16px;
				color: var(--semantic-text-non-active);
			}

			.value {
				flex: 1;
				font-size: 16px;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		.column {
			display: flex;
			overflow: hidden;
			flex-direction: column;
			gap: 2px;
		}

		.row {
			display: flex;
			align-items: first baseline;
			flex-direction: row;
			gap: 4px;
		}

		.description {
			font-size: 15px;
			font-weight: 500;
		}

		.blockVote {
			display: flex;
			text-align: center;
			justify-content: center;
			flex-direction: row;
			font-size: 18px;
			font-weight: 600;
			height: 46px;
			gap: 12px;

			.vote {
				display: flex;
				gap: 10px;
				padding: 5px 12px;
				border-radius: 32px;
				background-color: var(--semantic-background-tetriary);
				align-items: center;
				justify-content: center;

				&.agree {
					flex: 1;
					color: var(--semantic-text-accent);
				}

				&.disagree {
					flex: 1;
					color: var(--semantic-text-accent-2);
				}
			}
		}
	}
}

.error {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.placeholder {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-size: 18px;
	font-weight: 600;
	color: var(--semantic-text-non-active);
}

.backButton {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 60px;
	padding: 16px;
	align-items: center;
	justify-content: center;
}
