.filter {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-bottom: 60px;
	width: 100%;

	.button {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 16px 40px;
		bottom: 0px;
		left: 0;
		right: 0;
		background: var(--fixed-background);
	}

	.filterList {
		flex: 1;
		overflow: auto;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 66px;
	border: 1px solid #2a2929; //TODO: replace with library color
	border-radius: 32px;
	padding: 20px;
	font-size: 16px;
	font-weight: 500;
	background-color: var(--semantic-background-tetriary);
	user-select: none;
	cursor: pointer;

	.icon {
		max-width: 32px;
		max-height: 32px;
		overflow: hidden;
	}
}
