.page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 16px;
	overflow: auto;
	padding-bottom: 60px;

	.telegramInfo {
		display: flex;
		gap: 20px;
		padding: 40px 20px 40px 20px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);
		align-items: center;
		justify-content: space-between;

		.telegramInfoLinkButtonContainer {
            width: 95px;
		}
		.telegramInfoData {
            display: flex;
            flex-direction: column;
            gap: 4px;
		}
		.telegramIcon {
		    display: flex;
			justify-content: center;
			align-items: center;
		}
		.telegramLinkedStatus {
            display: flex;
            flex-direction: row;
            color: white;
            font-size: 20px;
            line-height: 28px;
		}
		.telegramLinkedAccountUsername {
            color: #0C7CFF;
		}
        .telegramLinkedAccount {
            color: #B5B5B5;
            font-size: 15px;
        }
	}

	.userInfo {
		display: flex;
		gap: 20px;
		padding: 16px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);
		align-items: center;

		.avatar {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: gray;
		}

		.name {
			flex: 1;
			font-size: 20px;
			font-weight: 600;
			line-height: 32px;
			color: var(--semantic-text-primary);
		}

		.editButton {
			width: 50px;
			font-size: 18px;
			font-weight: 600;
			line-height: 32px;
			text-align: center;
			color: var(--semantic-text-accent-2);
			user-select: none;
			cursor: pointer;
		}
	}

	.block {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 16px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);

		.card {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 32px;
			border: 1px solid var(--semantic-background-tetriary);
			padding: 12px 15px;
			min-height: 62px;
			gap: 8px;
			background-color: var(--semantic-background-tetriary);
			overflow: hidden;

			.logo {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}

			.name {
				flex: 1;
				font-size: 17px;
				font-weight: 600;
			}

			.title {
				flex: 1;
				font-size: 17px;
				font-weight: 600;
			}

			.slots {
				display: flex;
				font-size: 17px;
				font-weight: 600;

				.claimed {
					color: var(--semantic-text-accent);
				}
			}
		}

		.title {
			display: flex;
		}

		.text {
			font-size: 15px;
			font-weight: 500;
			color: var(--semantic-text-secondary);
		}
	}

	.proposalList {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);

		.header {
			display: flex;
			gap: 10px;
			padding: 6px 4px;
			align-items: center;
			justify-content: space-between;
		}

		.seeMoreButton {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			font-weight: 600;
			padding: 4px 8px;
			color: var(--semantic-text-accent-2);
			user-select: none;
			cursor: pointer;
		}

		.list {
			display: flex;
			flex-direction: column;

			.animationBlock {
				display: flex;
				flex-direction: column;
				overflow: hidden;
			}

			.partList {
				display: flex;
				flex-direction: column;
				padding-top: 12px;
				gap: 12px;
			}

			.placeholder {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;
				font-size: 18px;
				font-weight: 600;
				color: var(--semantic-text-placeholder);
			}
		}
	}

	.daoList {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);

		.header {
			display: flex;
			gap: 10px;
			padding: 6px 4px;
			align-items: center;
			justify-content: space-between;
		}

		.seeMoreButton {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			font-weight: 600;
			padding: 4px 8px;
			color: var(--semantic-text-accent-2);
			user-select: none;
			cursor: pointer;
		}

		.list {
			display: flex;
			flex-direction: column;

			.animationBlock {
				display: flex;
				flex-direction: column;
				overflow: hidden;
			}

			.partList {
				display: flex;
				flex-direction: column;
				padding-top: 12px;
				gap: 12px;
			}

			.placeholder {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;
				font-size: 18px;
				font-weight: 600;
				color: var(--semantic-text-placeholder);
			}
		}
	}
}

.actions {
	flex: 1;
	display: flex;
	flex-direction: row;
	gap: 12px;

	.cardButton {
		.icon {
			display: flex;
			height: 34px;
			align-items: center;
		}

		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 4px;
		padding: 16px;
		border-radius: 32px;
		background-color: var(--semantic-background-tetriary);
	}
}
