.splash {
	display: flex;
	align-items: center;
	justify-content: center;

	.figures {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1225px;
		height: 1092px;

		.background {
			position: fixed;
			min-width: 1225px;
			min-height: 1092px;
			z-index: -1;
			pointer-events: none;
		}

		.button {
			display: flex;
			align-items: center;
			width: 115px;
			height: 115px;
			font-size: 16px;
			font-weight: 900;
			border-radius: 100px;
			background-color: var(--semantic-button-primary);
			text-align: center;
			cursor: pointer;
			user-select: none;

			.buttonText {
				word-break: keep-all;
			}
		}
	}
}
