.page {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 16px;

	.textBlock {
		text-align: left;
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
	}
}
