.inputNumber {
	flex: 1;
	
	border-radius: 50px;
	overflow: hidden;
	position: relative;
	overflow: hidden;
	background-color: var(--semantic-background-tetriary);

	&.default {
		min-height: 52px;
	}

	&.small {
		min-height: 44px;
	}

	.placeholder {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		padding: 15px 20px;
		position: absolute;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		pointer-events: none;

		&.primary {
			color: var(--semantic-text-placeholder);
		}

		&.error {
			color: var(--semantic-text-error);
		}

		.text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.field {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: 7px 20px;

		.fieldName {
			flex: 1;
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			color: var(--semantic-text-secondary);
			user-select: none;
		}

		.input {
			flex: 1;
			width: 100%;
			padding: 0;
			background: none;
			outline: none;
			border: none;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;

			&.primary {
				color: var(--semantic-text-primary);
			}

			&.error {
				color: var(--semantic-text-error);
			}

			&:disabled {
				color: var(--semantic-text-secondary);
			}
		}
	}

	&.withName {
		display: flex;
		padding: 7px 20px;
		flex-direction: column;
		gap: 0;
	}

	.maxButton {
		position: absolute;
		top: 0;
		right: 12px;
		display: flex;
		align-items: center;
		color: var(--semantic-button-notifications-2);
		height: 100%;
		font-size: 17px;
		font-weight: 500;
		user-select: none;
		cursor: pointer;
	}
}
