.createProposalOpen {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  margin-bottom: 100px;

  .title {
    display: flex;
    justify-content: flex-start;
  }

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: auto;
  }

  .actions {
    position: fixed;
    bottom: 40px;
    left: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
