.proposalPageLoader {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.card {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 12px;
		border-radius: 32px;
		background-color: var(--semantic-card-background);
		overflow: hidden;

		.block {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			border-radius: 32px;
			border: 1px solid var(--semantic-background-tetriary);
			padding: 12px 20px;
			min-height: 64px;
			background: var(--loader-background);
			animation: l8 1s infinite;
		}

		.blockVote {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			border-radius: 32px;
			border: 1px solid var(--semantic-background-tetriary);
			padding: 12px 20px;
			min-height: 46px;
			background: var(--loader-background);
			animation: l8 1s infinite;
		}
	}

	@keyframes l8 {
		100% {
			background-position: top left;
		}
	}
}
