.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
  border-radius: 32px;
  cursor: pointer;
  user-select: none;

  &.primary {
    background-color: var(--semantic-button-notifications);
    color: var(--semantic-text-dark);
  }

  &.secondary {
    background-color: var(--semantic-button-secondary);
    color: var(--semantic-text-secondary);
  }

  &:disabled {
    opacity: 0.5;
    cursor: initial;
  }
}
