.dropdown {
	.logo {
		min-width: 32px;
		min-height: 32px;
		border-radius: 32px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.selected {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
		padding: 9px 20px;
		background-color: var(--semantic-background-tetriary);
		border-radius: 32px;
		white-space: nowrap;
		min-height: 52px;
		position: relative;
		cursor: pointer;

		.option {
			flex: 1;
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 15px;
			font-weight: 600;
			line-height: 33px;
			max-height: 51px;
			letter-spacing: -0.15px;
			overflow: hidden;

			.text {
				color: var(--semantic-text-primary);
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			&.primary {
				color: var(--semantic-text-secondary);
			}

			&.placeholder {
				color: var(--semantic-text-secondary);
			}

			&.error {
				color: var(--semantic-text-error);
			}

			.icon {
				min-width: 20px;
				min-height: 20px;
				color: var(--semantic-text-primary);
			}
		}
	}

	.icon {
		min-width: 28px;
		min-height: 28px;
		color: var(--semantic-text-primary);
		&.reversed {
			transform: rotate(180deg);
		}
	}

	.options {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		border-radius: 32px;
		background-color: var(--semantic-background-tetriary);
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
		overflow: auto;
		overflow-x: hidden;
		z-index: 1;

		.optionsPadding {
			padding: 8px;

			.placeholder {
				flex: 1;
				text-align: center;
				padding: 20px;
				color: var(--semantic-text-placeholder);
			}
		}

		.option {
			flex-shrink: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 33px;
			gap: 8px;
			border-radius: 32px;
			cursor: pointer;

			&:hover {
				color: var(--semantic-text-secondary);
			}

			&.paddingWithLogo {
				padding: 6px 16px 6px 8px;
			}

			&.paddingWithoutLogo {
				padding: 6px 16px;
			}

			.optionInfo {
				flex: 1;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: row;
				gap: 10px;
				overflow: hidden;
			}

			&.active {
				background-color: var(--color-base-neutral-7);
				color: var(--semantic-text-accent);
			}

			.icon {
				width: 20px;
				height: 20px;
			}

			.label {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
	}
}
