.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 9px 20px 9px 16px;
  max-height: 62px;
  background-color: var(--semantic-background-tetriary);
  border: 1px solid var(--semantic-background-tetriary);
  border-radius: 32px;
  color: var(--semantic-text-primary);

  &.selected {
    border-color: var(--semantic-button-notifications);
  }

  .leftSide {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .name {
      font-size: 18px;
      font-weight: 600;
    }

    .logo {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      background-color: var(--semantic-text-placeholder);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .numbers {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: right;

    .amount {
      font-size: 15px;
      font-weight: 500;
    }
    .rate {
      font-size: 15px;
      font-weight: 500;
      color: var(--semantic-text-non-active);
    }
  }
}
