.option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	padding: 9px 20px 9px 16px;
	max-height: 62px;
	background-color: var(--semantic-background-tetriary);
	border: 1px solid var(--semantic-background-tetriary);
	border-radius: 32px;
	color: var(--semantic-text-primary);
	overflow: hidden;

	&.selected {
		border-color: var(--semantic-button-notifications);
	}

	.leftSide {
		flex-grow: 1;
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: flex-start;
		overflow: hidden;

		.name {
			font-size: 18px;
			font-weight: 600;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.logo {
			min-width: 32px;
			min-height: 32px;
			border-radius: 32px;
			background-color: var(--semantic-text-placeholder);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	.numbers {
		flex-grow: 1;
		min-width: 50px;
		display: flex;
		flex-direction: column;
		gap: 2px;
		text-align: right;
		min-width: 100px;
		overflow: hidden;

		.amount {
			flex-grow: 1;
			font-size: 15px;
			font-weight: 500;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.rate {
			flex-grow: 1;
			font-size: 15px;
			font-weight: 500;
			color: var(--semantic-text-non-active);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
