.nftCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--semantic-card-background);
  padding: 20px;
  border-radius: 32px;
  padding-bottom: 30px;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 26px;

    .leftColumn {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .hash {
        font-size: 15px;
        font-weight: 600;
        flex-shrink: 0;
        white-space: nowrap;
      }

      .image {
        width: 108px;
        height: 99px;
        border-radius: 12px;
      }
    }

    .rightColumn {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      align-items: start;

      .id {
        font-size: 15px;
        font-weight: 600;
        padding-left: 10px;
      }

      .block {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        padding: 10px;
        flex: 1;
        min-width: 110px;
        background-color: var(--semantic-background-tetriary);
        flex-shrink: 0;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 600;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 14px;
          max-height: 14px;
          color: var(--semantic-text-accent);
        }
      }
    }
  }
}
